.form-header{
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid transparent;
}
.form-header-content{
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        img{
            width: 75px;
            display: block;
        }
    }
    .lang{
        margin-inline-start: auto;
        color: var(--gray-text-color);
        font-size: 14px;
        font-weight: 600;
        transition: all ease-in-out .2s;
        &:hover{
            color: var(--red-color);
        }
    }
}

@include max-768 {
    .form-header-content .logo img{
        width: 65px;
    }
    .form-header-content , .form-header {
        height: 75px;
    }
}