.branches{
    padding: 60px 0  50px 0;
}
.branch-item{
    height: 232px;
    filter: drop-shadow(0 0 15px rgba(0,0,0,0.05));
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    padding-inline-start: 30px;
    padding-inline-end: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
.branch-title{
    font-size: 16px;
    color: #004658;
    font-weight: 700;
    margin-bottom: 13px;
    text-transform: capitalize;
  
}
.branch-details{
    height: 100%;
    display: flex;
   justify-content: center;
   align-items: flex-start;
    flex-direction: column;
    ul {
        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span , a{
                font-size: 14px;
                color: #004658;
                font-weight: 300;
                text-align: start;
                margin-inline-start: 10px;
                &:hover{
                    color: #004658;
                }
            }
            i{
                font-size: 18px;
                color: #02c2da;
            }
        }
    }
}
.branch-map {
    > div {
        height: 100%;
        iframe {
            height: 100%;
            width: 100%;
            .gm-style .place-card-medium , .gmnoprint , .place-card ,  .place-card-medium{
                display: none;
            }

        }
    }
}
.branch-item-parent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.branch-details ul li:last-of-type{
    margin-bottom: 0;
}

.custom-google-map{
    .place-card-medium{
        display: none;
    }
}

@include max-992 {
    .branch-item{
        height: auto;
    }
    .branch-details ul li span, .branch-details ul li a{
        font-size: 13px;
        line-height: 1.6;
    }
    .branch-title{
        font-size: 15px;
    }
    .branch-details ul li{
        align-items: flex-start;
    }
   
}

@include max-768 {
    .branch-item-parent{
        grid-template-columns: 1fr;
    }
    .branch-item{
        padding: 20px 15px;
    }
    .branch-details{
        margin-bottom: 25px;
        justify-content: flex-start;
    }
    .branches{
        padding: 50px 0 30px 0;
    }
}