
.career{
    padding: 70px 0 50px;
}

input[type="file"]{
    border: none;
    position: relative;
    color: transparent;
}
.add-file{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 103px;
    color: white;
    overflow: hidden;
    top: 50%;
    border: none;
     transform: translateY(-50%); 
    inset-inline-end: 7px;
    font-size: 14px;
    height: 32px;
    border-radius: 16px;
    background-color: $main-color;
    cursor: pointer;
}

.myinput-holder{
    position: relative;
}
::-webkit-file-upload-button{
    display: none;
}


@include max-768 {
    .career{
        padding: 50px 0 ;
    }
}
