html[dir="ltr"]{
  
    .features .general-title , .list-item .item-title , .banner-desc .main-title{
        line-height: 1.3;
    }
    .features-cont{
        width: 530px;
        direction: ltr;
    }
    .client-reviews .item .quote-text{
        line-height: 1.6;
    }
    @include max-768 {
        .about .para {
            line-height: 1.5;
        }
        .ques-text{
            line-height: 1.45;
        }
        .features-cont{
            width: 100%;
        }
        .client-reviews .general-title , .faq .general-title{
            line-height: 1.4;
        }
        .download-parent .content .para{
            line-height: 1.4;
        }
        .form-div .text{
            line-height: 1.45;
        }
    }
    .client-reviews .item .icon{
        transform: scaleX(-1);
    }
    .ques-answer{
        line-height: 1.55;
    }
    .download-parent{
        width: 890px;
    }
    @include max-1200{
        .download-parent{
            width: 100%;
        }
    }
}