.distributors {
  padding-top: 40px;
  padding-bottom: 125px;
  @include max-768 {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  // .titles-wrapper {
  //   justify-content: flex-start;
  //   margin-bottom: 30px;
  //   .main-title {
  //     text-align: start;
  //     max-width: 100%;
  //   }
  // }
}

.branches-table,
.distributors-table {
  .table td:last-of-type {
    direction: ltr;
    text-align: end;
    padding-inline-end: 20px;
    @include max-768 {
      padding-inline-end: unset;
      padding: 12px 15px;
    }
    a:hover {
      color: $second-color;
    }
  }
}
.distributors-table {
  .table td {
    font-size: 16px;
    font-weight: 400;
    @include max-768 {
      font-size: 15px;
      line-height: 1.7;
    }
    a {
      transition: all linear 0.2s;
      font-size: 16px;
      color: #333333;
      @include max-768 {
        font-size: 15px;
      }
    }
  }

  .table th,
  .table td {
    min-width: 341px;
    @include max-768 {
      min-width: 200px;
    }
  }
  .table th:first-of-type,
  .table td:first-of-type {
    min-width: 457px;
    @include max-768 {
      min-width: 250px;
    }
  }
}
